<!---extand basic django-->
{% extends 'ar/base.html' %}
<!---import static django-->
{% load static %}
<!---block django-->
{% block body %}
    <!-- Request Plan Section -->
    <div class="container my-5">
        <div style="display: flex; justify-content: space-between; align-items: center">

            <h2 style="color:#00CF93">بيانات الصفحة
                
            </h2>
            <h3 id="copypagelink">
                <a id="pagelink" href="/landingpage/page/ar/{{ user_landing_page.pagename }}" hidden></a>
                <label for=""> نسخ رابط الصفحة</label>
                <i class="fa fa-copy text-dark"></i>
            </h3>
        </div>
        <div style="display: flex; justify-content: end; align-items: center;">

            <!-- Notification message -->
            <div id="copy-message" style="display:none; color: green;">تم نسخ الرابط</div>
        </div>
            
        <form method="post">
            {% csrf_token %}
            <div class="row">
                
                <div class="col-md-6 mb-3">
                    <label for="image" class="form-label">الصورة *</label>
                    <input type="file" accept="image/*" class="form-control" id="image" name="image" required placeholder="الصورة" value="{{ user_landing_page.image.url }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="video" class="form-label">الفيديوا *</label>
                    <input type="file" accept="video/*" class="form-control" id="video" name="video" required placeholder="فيديوا" value="{{ user_landing_page.video.url }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="name" class="form-label">العنوان باللغه الانجليزية *</label>
                    <input type="text" class="form-control" id="title" value="{{ user_landing_page.title }}" name="name" required placeholder="العنوان باللغه الانجليزية">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="name" class="form-label">العنوان لاللغة العربية *</label>
                    <input type="text" class="form-control" id="title" value="{{ user_landing_page.title_ar }}" name="name" required placeholder="العنوان لاللغة العربية">
                </div>
            
            </div>
            <div class="mb-3 ">
                <label for="notes" class="form-label">الوصف باللغه الانجليزية *</label>
                <textarea class="form-control" id="notes" name="description" rows="6" placeholder="الوصف باللغه الانجليزية">{{ user_landing_page.description }}</textarea>
            </div>
            <div class="mb-3 ">
                <label for="notes" class="form-label">الوصف باللغه العربية *</label>
                <textarea class="form-control" id="notes" name="description" rows="6" placeholder="الوصف باللغه العربية" >{{ user_landing_page.description_ar }}</textarea>
            </div>
            <div class="text-center">
                <button type="submit" id="requestButton" class="trk-btn trk-btn--border trk-btn--primary d-block mt-4">
                انشاء / تحديث
                </button>
                
          </div>
        </form>
    </div>


    <div class="container-fluid my-5 p-5 fade-in" style="background-color: #081E18;">
        <div class="container">
            <h2 style="color:#00CF93">طلبات العضوية</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">الاسم </th>
                    <th scope="col">الايميل</th>
                    <th scope="col">رقم الهاتف</th>
                    <th scope="col">السن</th>
                    <th scope="col">النوع</th>
                    <th scope="col">العنوان</th>
                    <th scope="col">الملاحظات</th>
                </tr>
            </thead>
            <tbody>
                {% for requested in requested %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ requested.name }}</td>
                    <td>{{ requested.email }}</td>
                    <td>{{ requested.phone }}</td>
                    <td>{{ requested.age }}</td>
                    <td>{{ requested.gender }}</td>
                    <td>{{ requested.location }}</td>
                    <td>{{ requested.notes }}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        </div>
    </div>

    <script>
        document.getElementById('copypagelink').addEventListener('click', function() {
            // Get the link from the hidden anchor tag
            const link = document.getElementById('pagelink').href;
    
            // Copy the link to the clipboard
            navigator.clipboard.writeText(link).then(function() {
                // Display success message
                const message = document.getElementById('copy-message');
                message.style.display = 'block';
                
                // Hide the message after 2 seconds
                setTimeout(() => {
                    message.style.display = 'none';
                }, 2000);
            }, function(err) {
                console.error('Error copying text: ', err);
            });
        });
    </script>


{% endblock %}
